.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.add-btn {
  background: linear-gradient(135deg, #6a5cff, #8f7bff);
  border: none;
  border-radius: 10px;
  padding: 10px 14px;
  color: white;
  cursor: pointer;
}

/* МОДАЛКА */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #14141c;
  border-radius: 16px;
  width: 400px;
  padding: 20px;
}

.steps {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.step {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #2a2a3d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.step.active {
  background: #6a5cff;
}

.stage {
  display: none;
}

.stage.active {
  display: block;
}

.stage input,
.stage textarea,
.stage select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #0e0e11;
  border: 1px solid #2a2a3d;
  border-radius: 8px;
  color: white;
}

textarea {
  resize: none;
  height: 80px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
